@use 'base/variables' as v;
@use 'base/mixins' as m;


.navegacion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center ;
    @include m.desktop{
     
      flex-direction: row;
      width: auto;
    }

    


 
 &__link{
    padding: 0.4rem;
    color: v.$negro;
    font-weight: 600;
    
    &--registrar{
      @include m.boton(v.$primario, v.$blanco)


}
 }
}